[user]
    name = sJ3x4AiGYbt
    email = 230274319+sJ3x4AiGYbt@users.noreply.github.com

[init]
    defaultBranch = main

[core]
    editor = vim

[pull]
    rebase = false

[credential]
    helper = cache --timeout=3600
